<div class="statistics">
    <div class="item">
        <div class="icon"><span><i class="fa fa-code-fork fa-4x"></i></span></div>
        <div class="text">
            <h2>{{ statistics_data.forks }}</h2>
            <p>Forks</p>
        </div>
    </div>
    <div class="item">
        <div class="icon"><span><i class="fa fa-users fa-4x"></i></span></div>
        <div class="text">
            <h2>{{ statistics_data.contributors }}</h2>
            <p>Contributors</p>
        </div>
    </div>
    <div class="item">
        <div class="icon"><span><i class="fa fa-download fa-4x"></i></span></div>
        <div class="text">
            <h2>{{ statistics_data.total_downloads }}</h2>
            <p>Downloads</p>
        </div>
    </div>
    <div class="item">
        <div class="icon"><span><i class="mdi mdi-cake-variant"></i></i></span></div>
        <div class="text">
            <h2>{{ statistics_data.latest_release }}</h2>
            <p>Release</p>
        </div>
    </div>
</div>
